
.btn-check:checked+.btn-outline-primary, .btn-check:active+.btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
    color: #FFFF;
    background-color: var(--text_color);
    border-color: var(--text_color);
}

.btn-outline-primary {
    color:var(--text_color);
    border-color:var(--text_color);
    padding-top: 5px;
}
.page-item.active .page-link {
    z-index: 3;
    color:#FFFF;
    background-color:var(--text_color) ;
    border-color: var(--text_color);
}
.page-item .page-link {
    border-color: var(--text_color);
}
.pagination a:hover:not(.active) {
    color:#FFFF;
    background-color:var(--text_color) ;
    border-color: var(--text_color);
}
.btn-outline-primary:hover {
    background-color: var(--background);
    border-color:var(--text_color);
}
.containertt{
    border: 1px solid #c1c1c1;

}
.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* hoặc contain */
    object-position: center;
    border-radius: 8px ;
  }
.inlinenowrap1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    line-height: 1.5em;
    max-height: 3em;        
}
.inlinenowrap2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    line-height: 1.5em;
    max-height: 3em;        
}

.containertt .containerimgtt {

height: 100%;
}
.containertt img{

width: 100%;
min-height: 200px !important;
max-height: 210px !important;

    overflow: hidden;
}
@media (max-width:800px) {
    .containersktt{
        width: 700px !important;
       
    }
    p{
        font-size: 15px;
    }
    h4{
        font-size: 17px;
    }
    img.p-0.m-0.rounded.main-image{
        width: 160px;
    }
}
@media (max-width:600px) {
    .containersktt{
        width: auto !important;
        margin: 0 4px !important;
       
    }
    .inlinenowrap2{
        -webkit-line-clamp: 1 !important;

    }
    .searchsktt{
        margin-top: 15px !important;
    }
    .container.containersktt.mt-3{        margin-top: 10px !important;
    }
    .containertt img {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .imagelistsktt img {
        min-width: 100px !important;
    }
    p{
        font-size: 13px;
    }
    h4{
        font-size: 15px;
    }
    .containertt .col-md-9{
        padding: 0 5px!important;

    }
    .position-relative.col-lg-6.mx-auto.my-3{
        padding-left: 0 !important;
    margin-left: 0 !important;
    }
    label.btn.btn-outline-primary.m-auto.py-2, input#keywordsktt, button.btn.backgrounddark.border-2.py-2.px-4.position-absolute.rounded.text-white.h-100{
        font-size: 13px !important;
    }
    h5.inlinenowrap2{
        font-size: 17px !important;
    }
    img.p-0.m-0.rounded.main-image{
        width: 110px;
    }
}